//Scaffolding
.white-bg
	background-color: $white
img
	max-width: 100%
	height: auto
textarea
	resize: none
	outline: none
	overflow: hidden
	outline-color: transparent

// Global
a
	-webkit-transition: all .24s ease-in-out
p
	color: $text
	+font-family($roboto-light)
	font-size: $text-reg
	strong
		color: #071a26

body.is-open
	.header
		&__menu
			-webkit-transform: translateX(0)
	.header.header__main .header__main-menu
		-webkit-transform: translateX(0)
.slick
	&-prev,
	&-next
		outline: none
		border: none
		cursor: pointer
		height: 50px
		width: 50px
		padding: 0
		margin: 0
		+cover
		border-radius: 50px
		&:focus
			outline: none
	&-next
		background-image: url("../img/svgo/arrow-next.svg")
	&-prev
		background-image: url("../img/svgo/arrow-prev.svg")


.slider
	&-item p
		font-size: 16px
		color: $black
	&-review
		background-color: $main-bg
		padding-top: 100px
		padding-bottom: 60px
		.slick-slider
			background-color: $white
		.slick-dots
			padding: 0
			bottom: -60px
		.slick-dots li button
			border: none
			outline: none
			opacity: 1
			width: 12px
			height: 12px
			box-shadow: 0 0 15px 1px $btn-gray
		.slick-dots li.slick-active button
			background-color: #14bec0
			background: #14bec0
		.review
			&__item
				padding: 40px 10px
				outline: none
				&:active, &:focus
					outline: none
				p
					margin: 0 auto auto 0
					color: $text
					font-size: 18px
					line-height: 1.55
				.company
					margin: 20px auto 40px
					color: $btn-gray
					font-size: 16px
					+font-family($roboto-reg)
			&__title
				font-size: 40px
				+font-family($roboto-light)
				margin: 0 auto

.service
	background-image: url("../img/shape-bg.png")
	background-color: rgba($cyan, .6)
	padding-bottom: 80px
	padding-top: 100px
	+cover
	+retina
		background-image: url("../img/shape-bg@2x.png")
	.btn-white
		background-color: $white
		color: darken($cyan, 10)
	h2
		color: $white
		font-size: $text-lg
		+font-family($roboto-light)
		margin: 0 auto 65px

// preview
.preview
	background-color: $main-bg
	background: $main-bg
	&__desc
		position: absolute
		top: 225px
		transform: translateX(-50%)
		left: 50%
		z-index: 22
		width: 100%
		h1
			color: $white
			+font-family($roboto-light)
			margin: 0 auto 40px
			letter-spacing: -1.9px
		p
			color: rgba($white, .5)
			line-height: $md-lh //1.5
			margin-bottom: 85px

// partners
.partners
	background-color: #e9edf1
	padding: 100px 0 60px 0
	h3
		margin: 0 auto 60px
		font-size: $text-lg //36px
		line-height: $base-lh
	.list-logos
		text-align: center
		width: 100%
		padding: 0
		margin: 0
		position: relative
		&:after
			content: ""
			display: block
			position: absolute
			width: 100%
			bottom: 0
			left: 0
			height: 100px
			background: -webkit-linear-gradient(top,transparent 0%,#e9edf1 80%)
		li
			display: inline-block
			margin: 0 10px 20px 0
			width: 30%
		li .images
			position: relative
			width: 160px
			height: 90px
			border-radius: 4px
			box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.40)
			background-color: $white
			display: inline-block
		li .images i, img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
	p
		margin-bottom: 45px