//Scaffolding
.white-bg
	background-color: $white
img
	max-width: 100%
	height: auto

a, input, button
	outline: none
	outline-offset: none
	&:focus
		outline: none !important
		outline-color: transparent
// Global
path
	-webkit-transition: all .24s ease-in-out
	transition: all .24s ease-in-out

textarea
	resize: none
	outline: none
	overflow: hidden
	outline-color: transparent

a
	-webkit-transition: all .24s ease-in-out
	transition: all .24s ease-in-out

p
	color: $text
	+font-family($roboto-light)
	font-size: $text-reg
	strong
		color: #071a26

body.is-open
	.header
		&__menu
			-webkit-transform: translateX(0)
			transform: translateX(0)
	.header.header__main .header__main-menu
		-webkit-transform: translateX(0)
		transform: translateX(0)

body
	img.logo-dark
		display: none
body.is-fixed
	img.logo-white
		display: none
	img.logo-dark
		display: block

.slick
	&-prev,
	&-next
		outline: none
		border: none
		cursor: pointer
		height: 50px
		width: 50px
		padding: 0
		margin: 0
		+cover
		z-index: 111
		top: 36%
		border-radius: 50px
		&:focus
			outline: none
		+r(480)
			display: none
		span
			font-size: 30px
			color: #808a90
	&-next
		background-image: url("../img/svgo/arrow-next.svg")
		right: 6%
		span
			left: 150%
			top: 0
			position: absolute
			display: block
			width: 300px
	&-prev
		background-image: url("../img/svgo/arrow-prev.svg")
		span
			right: 150%
			top: 0
			position: absolute
			display: block
			width: 300px

// slick-dots
body
	.slider
		&-review,
		&-preview
			.slick-dots
				padding: 0
				bottom: -60px
				+r(768)
					bottom: 0
				+r(568)
					position: static
			.slick-dots li button
				border: none
				outline: none
				opacity: 1
				width: 12px
				height: 12px
				box-shadow: 0 0 15px 1px rgba(108, 110, 113, 0.35)
				+r(768)
					background: $cyan
			.slick-dots li.slick-active button
				background-color: #14bec0
				background: #14bec0
				+r(768)
					background-color: darken(#14bec0, 10)
					background: darken(#14bec0, 10)

.slider
	&-item p
		font-size: 16px
		color: $black
	&-review
		background-color: $main-bg
		padding-top: 100px
		padding-bottom: 60px
		+r(992)
			padding: 50px 0
		+r(768)
			padding: 40px 0
		+r(568)
			padding: 25px 0
		+r(480)
			padding: 20px
		+r(320)
			padding: 15px 0
		p
			font-size: 16px
			line-height: 1.5
			color: #c9c9c9
			a
				color: $cyan
		.slick-slider
			background-color: $white
			margin-top: 90px
			border-radius: 8px
			box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.10)
			margin-bottom: 120px
			position: relative
			+r(768)
				margin: 70px auto 90px
			+r(568)
				margin: 45px 0
				padding-bottom: 30px
			+r(480)
				margin: 30px 0
			+r(320)
				margin: 10px 0
			&:after
				content: ""
				display: block
				position: absolute
				bottom: -18px
				left: 90px
				width: 30px
				height: 30px
				background-image: url("../img/triangle-shape.png")
				+r(568)
					display: none
		.btn-rounded
			box-shadow: none
		.review
			&__item
				padding: 40px 60px 50px 60px
				outline: none
				&:active, &:focus
					outline: none
				+r(568)
					padding: 20px 11px
				p
					margin: 0 auto auto 0
					color: $text
					font-size: 18px
					line-height: 1.55
					cursor: default
				.company
					margin: 20px auto 40px
					color: #c9c9c9
					font-size: 16px
					+font-family($roboto-reg)
					+r(480)
						margin: 10px 0
			&__title
				font-size: 40px
				+font-family($roboto-light)
				margin: 0 auto
				+r(992)
					font-size: 38px
				+r(768)
					font-size: 34px
				+r(568)
					font-size: 32px
				+r(480)
					font-size: 28px
				+r(320)
					font-size: 24px
			&-title
				font-size: 36px
				+font-family($roboto-light)
				margin: 0 auto 45px
				color: $text
				+r(768)
					font-size: 32px
				+r(568)
					font-size: 28px
				+r(480)
					font-size: 24px
				+r(320)
					font-size: 22px
	&-preview
		margin-top: 65px
		+r(768)
			margin-top: 25px
		.preview
			&__item
				display: inline-block
				vertical-align: top
				position: relative
				+r(568)
					min-height: initia
				.image
					display: inline-block
					vertical-align: top
					max-width: 270px
					height: 240px
					overflow: hidden
					+r(1025)
						max-width: 100%
						width: 100%
						margin: 0 auto
					img
						+r(1025)
							margin: 0 auto
				p
					cursor: default
					margin: 0 auto
					max-width: 600px
					br
						display: none
						+r(1025)
							display: block
		.slick-dots
			bottom: 0


.service
	background-image: url("../img/shape-bg.png")
	padding-bottom: 80px
	padding-top: 100px
	+cover
	+r(768)
		padding: 60px 0
	+r(568)
		padding: 40px 0
		background-image: none
		background-color: #2db3bf
	+r(480)
		padding: 20px 0
	+retina
		background-image: url("../img/shape-bg@2x.png")

	h2
		color: $white
		font-size: $text-lg
		+font-family($roboto-light)
		margin: 0 auto 65px
		+r(768)
			font-size: 30px
			margin-bottom: 40px
		+r(568)
			font-size: 28px
			margin-bottom: 30px
		+r(480)
			font-size: 24px
		+r(320)
			font-size: 22px
			margin-bottom: 20px

// preview
.preview
	background-color: $main-bg
	background: $main-bg
	padding-top: 100px
	padding-bottom: 120px
	+r(992)
		padding: 30px 0
	+r(768)
		padding: 20px 0
	+r(320)
		padding: 10px 0
	h2
		+font-family($roboto-light)
		margin: 0 auto 40px
		+r(768)
			font-size: 26px
		+r(568)
			font-size: 22px
	p
		color: rgba(#071a26, .50)
	&__desc
		position: absolute
		top: 225px
		-webkit-transform: translateX(-50%)
		transform: translateX(-50%)
		left: 50%
		z-index: 22
		width: 100%
		+r(1367)
			top: 160px
		+r(992)
			top: 90px
		h1
			color: $white
			+font-family($roboto-light)
			margin: 0 auto 40px
			+r(768)
				font-size: 32px
			+r(568)
				font-size: 28px
			+r(480)
				font-size: 24px
			+r(320)
				font-size: 18px
		p
			color: rgba($white, .5)
			line-height: $md-lh //1.5
			margin-bottom: 85px
			+r(768)
				margin-bottom: 50px
			+r(568)
				margin-bottom: 35px
			+r(480)
				margin-bottom: 20px
			+r(320)
				margin-bottom: 10px
	&__item
		outline: none
		&:focus
			outline: none
		p
			color: #cecece
			margin-bottom: 0
			font-size: 16px
			line-height: 1.65
	.preview__title
		margin: 0 auto 20px
		font-size: 30px
		color: $text
		+font-family($roboto-md)
		position: relative
		+r(568)
			font-size: 22px

// partners
.partners
	background-color: #e9edf1
	padding: 100px 0 60px 0
	.btn
		box-shadow: none
	+r(768)
		padding: 50px 0
	+r(568)
		padding: 30px 0
	+r(320)
		padding: 10px 0
	h3
		margin: 0 auto 60px
		font-size: $text-lg //36px
		line-height: $base-lh
		+r(768)
			margin: 0 auto 40px
			font-size: 32px
		+r(568)
			margin: 0 auto 25px
			font-size: 28px
		+r(320)
			margin: 0 auto 15px
			font-size: 24px
	.list-logos
		text-align: center
		width: 100%
		padding: 0
		font-size: 0
		margin: 0
		position: relative
		+r(768)
			height: 320px
			overflow: hidden
			margin-bottom: 20px
		&:after
			content: ""
			display: block
			position: absolute
			width: 100%
			bottom: 0
			will-change: height, transition
			-webkit-transition: height .34s ease-in-out
			left: 0
			height: 100px
			background: -webkit-linear-gradient(top,transparent 0%,#e9edf1 80%)
		li
			display: inline-block
			margin: 0 10px 20px 0
			width: 30%
			+nosel
			cursor: default
			+r(768)
				width: 50%
				margin: 0 auto 20px
			+r(480)
				width: 100%
		li .images
			position: relative
			width: 160px
			height: 90px
			border-radius: 4px
			box-shadow: 1.5px 2.598px 5px 0px rgba(0, 0, 0, 0.1)
			background-color: $white
			display: inline-block
			will-change: box-shadow, transition
			-webkit-transition: box-shadow .24s linear
			transition: box-shadow .24s linear
			+r(1025)
				width: 130px
			&:hover
				box-shadow: none
		li .images i, img
			position: absolute
			top: 50%
			left: 50%
			-webkit-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)
	p
		margin-bottom: 45px
		+r(768)
			margin-bottom: 30px
		+r(480)
			text-align: center
			margin-bottom: 20px
		+r(320)
			margin-bottom: 10px
	.list-logos:hover:after
		height: 0




.list
	&-circle-icons
		list-style-type: none
		padding: 0
		font-size: 0
		margin-bottom: 50px
		+r(769)
			margin-bottom: 30px
	&-circle-icons li
		display: inline-block
		width: 19%
		padding: 0 20px
		vertical-align: top
		margin-bottom: 60px
		+r(992)
			width: 33%
			padding: 0 10px
			margin-bottom: 20px
		+r(568)
			width: 50%
		+r(480)
			padding: 0
		&.margin-zero
			margin: 0
	&-circle-icons li p
		color: #0e6f70
		+font-family($roboto-reg)
		font-size: 13px
		margin-bottom: 0
		&.circle-title
			font-size: 18px
			color: $white
			+font-family($roboto-bld)
			line-height: 1
			margin: 20px auto 15px
			+r(480)
				margin: 0 auto 10px
	&-circle-icons li .images
		margin: 0 auto
		position: relative
		width: 100px
		height: 100px
		display: block
		&:before
			content: ""
			display: block
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			+cover
			background-image: url("../img/circle-shape.png")
	&-circle-icons li .images svg,
	&-circle-icons li .images i,
	&-circle-icons li .images img
		position: absolute
		top: 50%
		left: 50%
		-webkit-transform: translate(-50%, -50%)
		transform: translate(-50%, -50%)
	&-arrows
		list-style-type: none
		padding: 0
		margin: 0
		position: absolute
		display: inline-block
		top: 70px
		max-width: 215px
		vertical-align: top
		+r(568)
			max-width: 100%
			width: 100%
			position: static
			text-align: center
		li
			display: block
		li p
			color: $text
			+font-family($roboto-reg)
			font-size: $text-reg //16px
			max-width: initial
			width: initial
			display: inline-block
			margin: 0
			line-height: 1.75
			font-size: 15.99px
	&-arrows-gray //del
		text-align: right
		left: 13%
		+r(1025)
			left: 0
	&-arrows-cyan
		text-align: left
		right: 19.5%
		+r(1025)
			right: 0
p.desc
	color: #0e6f70
	font-size: 13px
	line-height: 1.23

.user__info
	text-align: right
	list-style-type: none
	padding: 0
	margin: 0
	font-size: 0
	+r(992)
		text-align: center
	+r(480)
		text-align: left
	li
		display: inline-block
		vertical-align: top
		margin-left: 30px
		line-height: 1
		+r(480)
			width: 100%
			margin-left: 0
			margin-bottom: 20px
			font-size: 20px
	li p,
	li a
		font-size: 14px
		color: $white
		+font-family($roboto-light)
		text-emphasis: none
		margin-bottom: 0
		line-height: 100%
		display: inline-block
		vertical-align: top
		&:hover
			text-decoration: none
	li svg,
	li i
		margin-right: 5px
	li i.fa
		color: $white
		font-size: 14px