---
title: О компании
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		{% include "partials/_headerMain.html" %}

		<!-- about-wrapper  BEGIN-->
		<div class="about-wrapper white-bg">
			<div class="inner">

				{% include "partials/_breadcrumbs.html" %}

				<div class="top__title top__title-inside">
					<i class="icon-teampro"></i>
					<h3 class="title-field">Команда квалифицированных специалистов</h3>
				</div>
				<p class="type-bordered">Компания Zoco – это команда квалифицированных специалистов, которые поддержат Вас в принятом решении о запуске онлайн – казино и возьмут на себя всесторонний цикл создания и налаживания бизнес - процессов, от первичных юридических консультаций до лицензирования и дальнейшего промотирования вашего бизнеса.</p>

				<div class="top__title top__title-inside">
					<i class="icon-flag-hand"></i>
					<h3 class="title-field">Команда квалифицированных специалистов</h3>
				</div>
				<p class="type-bordered">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свою семантика от всех текстами лучше, там единственное прямо вскоре снова, залетают рыбными вершину за встретил если буквенных возвращайся то? Запятой!</p>

				<div class="top__title top__title-inside">
					<i class="icon-note"></i>
					<h3 class="title-field">Команда квалифицированных специалистов</h3>
				</div>
				<p class="type-bordered">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свою семантика от всех текстами лучше, там единственное прямо вскоре снова, залетают рыбными вершину за встретил если буквенных возвращайся то? Запятой!</p>
				<!-- top__title END -->

				<p>Главное представительство компании Zoco расположено по адресу: <span>58 Shrewsbury Square, Sandymount Avenue, Dublin 4, 662819, Ireland.</span></p>
				<a href="/" class="btn btn-copy btn-about">Получить консультацию</a>
			</div>
		</div>
		<!-- about-wrapper  END-->


		{% include "partials/_register.html" %}


		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
