---
title: Affiliate-Banners
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		<!-- header BEGIN -->
		<header class="header">

			{% include "partials/_topLine.html" %}

			<div class="inner">

				{% include "partials/_headerNav.html" %}

			</div>
			<!-- inner END -->
		</header>
		<!-- header END -->

		<!-- linked BEGIN -->
		<div class="linked">
			<div class="inner">
				<div class="linked__top">
					<div class="linked__label">
						<img src="img/svg/icon-linked.svg" alt="Your personal link">
						<p>Your personal referral link:</p>
					</div>

					<div class="linked__container">
						<textarea class="linked__field">https://www.behance.net/Sozidai</textarea>
						<a href="/" class="btn btn-copy"><img src="img/svg/icon-copy.svg" alt="" style="width: 24px; height: 24px;"> copy </a>
					</div>
				</div>

				<div class="linked__bottom">
					<div class="linked__bottom-left">
						<img src="img/img-screen.png" alt="">
					</div>

					<div class="linked__bottom-right">
						<div class="title">“zocco Success Story” with your personal referal link!</div>
						<div class="text">All users that will visit landing page and register an account on website, automatically get into your team!</div>
						<div class="text">The larger structure - the greater your profit!</div>
						<div class="linked__container">
							<textarea class="linked__field">https://www.behance.net/Sozidai</textarea>
							<a href="/" class="btn btn-copy"><img src="img/svg/icon-copy.svg" alt="" style="width: 24px; height: 24px;"> copy </a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- linked END -->

		<!-- slider-banner BEGIN -->
		<div class="slider-banner">
			<div class="inner">
				<div class="field__row js-slider-banner">
					<div class="field__col">
						<div class="field__item">
							<div class="field__top">
								<img src="img/shape-screen.png" alt="Screen Image" title="Screen Image">
								<p>Resolution: 120x120 px Size: 57 kb</p>
							</div>

							<div class="field__bottom">
								<textarea class="field__editable">&lt;a href=&quot;https://zocco.com/ ?ref =muposegan&quot;&gt;&lt;img src=&quot;https: //zocco.com/images/yourvideo /eng/success_120_eng_s.gif&quot;&gt; &lt;/a&gt;
								</textarea>

								<a class="btn btn-copy" href="/">
									<img src="img/svg/icon-copy.svg" alt="" class="icon-copy" style="width: 24px; height: 24px;">
									Copy link
								</a>
							</div>
						</div>
					</div>

					<div class="field__col">
						<div class="field__item">
							<div class="field__top">
								<img src="img/shape-screen.png" alt="Screen Image" title="Screen Image">
								<p>Resolution: 120x120 px Size: 57 kb</p>
							</div>

							<div class="field__bottom">
								<textarea class="field__editable">&lt;a href=&quot;https://zocco.com/ ?ref =muposegan&quot;&gt;&lt;img src=&quot;https: //zocco.com/images/yourvideo /eng/success_120_eng_s.gif&quot;&gt; &lt;/a&gt;
								</textarea>

								<a class="btn btn-copy" href="/">
									<img src="img/svg/icon-copy.svg" alt="" class="icon-copy" style="width: 24px; height: 24px;">
									Copy link
								</a>
							</div>
						</div>
					</div>

					<div class="field__col">
						<div class="field__item">
							<div class="field__top">
								<img src="img/shape-screen.png" alt="Screen Image" title="Screen Image">
								<p>Resolution: 120x120 px Size: 57 kb</p>
							</div>

							<div class="field__bottom">
								<textarea class="field__editable">&lt;a href=&quot;https://zocco.com/ ?ref =muposegan&quot;&gt;&lt;img src=&quot;https: //zocco.com/images/yourvideo /eng/success_120_eng_s.gif&quot;&gt; &lt;/a&gt;
								</textarea>

								<a class="btn btn-copy" href="/">
									<img src="img/svg/icon-copy.svg" alt="" class="icon-copy" style="width: 24px; height: 24px;">
									Copy link
								</a>
							</div>
						</div>
					</div>

					<div class="field__col">
						<div class="field__item">
							<div class="field__top">
								<img src="img/shape-screen.png" alt="Screen Image" title="Screen Image">
								<p>Resolution: 120x120 px Size: 57 kb</p>
							</div>

							<div class="field__bottom">
								<textarea class="field__editable">&lt;a href=&quot;https://zocco.com/ ?ref =muposegan&quot;&gt;&lt;img src=&quot;https: //zocco.com/images/yourvideo /eng/success_120_eng_s.gif&quot;&gt;
									&lt;/a&gt;
								</textarea>

								<a class="btn btn-copy" href="/">
									<img src="img/svg/icon-copy.svg" alt="" class="icon-copy" style="width: 24px; height: 24px;">
									Copy link
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slider-banner END -->

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
