---
title: Карьера
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		{% include "partials/_headerMain.html" %}

		<div class="career-wrapper white-bg">
			<div class="inner">
				{% include "partials/_breadcrumbs.html" %}

				<div class="top__title top__title-inside">
					<i class="icon-people-plus"></i>
					<h3 class="title-field">{{title}}</h3>
				</div>
				<!-- top__title END -->

				<p class="type-bordered-bottom">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Толку ему большой, путь пустился ведущими всемогущая, текст свой заманивший выйти текстами lorem, встретил дороге переулка взобравшись, залетают моей предложения.</p>

				<div class="top__title top__title-inside">
					<i class="icon-work"></i>
					<h3 class="title-field">Вакансии</h3>
				</div>
				<!-- top__title END -->

				<h4>Ruby-on-Rails разработчик</h4>
				<p>Мы ищем эксперта - разработчика Ruby для построения и внедрения дополнительного функционала онлайн - казино, поддержка бэкенда и работа со вспомогательными программами.</p>

				<ul class="list-text">
					<li class="title"><p>Наши запросы:</p></li>
					<li><p>Не менее 3 лет работы с Ruby on Rails</p></li>
					<li><p>Не менее 5 лет программирования</p></li>
					<li><p>Опыт работы с Javascript, XHTML, CSS</p></li>
					<li><p>Опыт объектно-ориентированного программирования</p></li>
					<li><p>Должностные функции</p></li>
					<li><p>Введение вспомогательных API в уже налаженную базу</p></li>
					<li><p>Налаживание и старт клиентских онлайн - казино на базисе уже функционирующей платформы</p></li>
					<li><p>Приспособление онлайн – казино к клиентским запросам</p></li>
					<li><p>Создание дополнительного функционала</p></li>
					<li><p>Сотрудничество с flash - разработчиками, дизайнерами, 3D - аниматорами и управленческим персоналом</p></li>
				</ul>

				<ul class="list-text">
					<li class="title"><p>Условия:</p></li>
					<li><p>Полный рабочий день</p></li>
					<li><p>Возможность удаленной работы</p></li>
					<li><p>Карточное поступление официально оформленной конкурентоспособного дохода в валюте</p></li>
					<li><p>Шанс приобщиться к неоспоримо перспективной и стремительно прогрессирующей сфере IT</p></li>
				</ul>

				<a href="/" class="btn btn-copy">Откликнуться</a>

				<h4 class="type-dashed-top">Дизайнер-сантехник</h4>
				<p>Мы ищем эксперта - разработчика Ruby для построения и внедрения дополнительного функционала онлайн - казино, поддержка бэкенда и работа со вспомогательными программами.</p>

				<ul class="list-text">
					<li class="title"><p>Наши запросы:</p></li>
					<li><p>Не менее 3 лет работы с Ruby on Rails</p></li>
					<li><p>Не менее 5 лет программирования</p></li>
					<li><p>Опыт работы с Javascript, XHTML, CSS</p></li>
					<li><p>Опыт объектно-ориентированного программирования</p></li>
					<li><p>Должностные функции</p></li>
					<li><p>Введение вспомогательных API в уже налаженную базу</p></li>
					<li><p>Налаживание и старт клиентских онлайн - казино на базисе уже функционирующей платформы</p></li>
					<li><p>Приспособление онлайн – казино к клиентским запросам</p></li>
					<li><p>Создание дополнительного функционала</p></li>
					<li><p>Сотрудничество с flash - разработчиками, дизайнерами, 3D - аниматорами и управленческим персоналом</p></li>
				</ul>

				<ul class="list-text">
					<li class="title"><p>Условия:</p></li>
					<li><p>Полный рабочий день</p></li>
					<li><p>Возможность удаленной работы</p></li>
					<li><p>Карточное поступление официально оформленной конкурентоспособного дохода в валюте</p></li>
					<li><p>Шанс приобщиться к неоспоримо перспективной и стремительно прогрессирующей сфере IT</p></li>
				</ul>

				<a href="/" class="btn btn-copy">Откликнуться</a>
			</div>
		</div>
		<!-- career-wrapper END -->

		{% include "partials/_register.html" %}

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
