---
title: Контакты
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		{% include "partials/_headerMain.html" %}

		<div class="contacts-wrapper white-bg">
			<div class="inner">
				{% include "partials/_breadcrumbs.html" %}

				<div class="top__title top__title-inside">
					<i class="icon-phone24"></i>
					<h3 class="title-field">{{title}}</h3>
				</div>
				<p>Мы будем рады ответить на любые Ваши вопросы о наших продуктах или услугах. Кроме того, если у Вас есть отзывы или комментарии, без стеснения сообщайте их нам.</p>

				<ul class="list-contacts">
					<li><p>Телефон: <a href="tel:+79629664884">+7 (962) 966 48 84</a></p></li>
					<li><p>Почта: <a href="mailto:order@zoco.com">order@zoco.com</a></p></li>
					<li><p>Телеграм: <a href="https://www.telegram.org/" target="_blank">Sozidai</a></p></li>
					<li>
						<address>
							<span>Адрес:</span> 58 Shrewsbury Square, Sandymount
							<br> Avenue, Dublin 4, 662819
						</address>
					</li>
				</ul>
				<!-- list-contacts END -->

				<div class="map-container">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.99265470359!2d5.485875815791105!3d52.079863579733264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c64fc6837347f5%3A0xca8885e6e90145a3!2zRG9ycHNzdHJhYXQgMjA3QSwgMzkyNSBLQiBTY2hlcnBlbnplZWwsINCd0LjQtNC10YDQu9Cw0L3QtNGL!5e0!3m2!1sru!2sua!4v1492717602959" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<!-- map-container END -->
			</div>
		</div>
		<!-- contacts-wrapper END -->

		{% include "partials/_register.html" %}

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>