---
title: Edit Account
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		<!-- header BEGIN -->
		<header class="header">

			{% include "partials/_topLine.html" %}

			<div class="inner">

				{% include "partials/_headerNav.html" %}

			</div>
			<!-- inner END -->
		</header>
		<!-- header END -->

		<!-- edit-account BEGIN -->
		<div class="edit">
			<!-- edit-container BEGIN -->
			<div class="inner">
				<div class="edit-container">
					<div class="edit__top top__title">
						<i class="icon-usergears"></i>
						<h3 class="title-field">Your Personal Information</h3>
					</div>

					<div class="top__title">
						<i class="icon-fishkabig"></i>
						<div class="edit__desc">
							<h3 class="title-field">Silver star</h3>
							<small>Your status</small>
						</div>
						<div class="edit__desc">
							<h3 class="title-field">muposegan</h3>
							<small>Account Name</small>
						</div>
						<div class="edit__desc">
							<h3 class="title-field">5 March.21.2017</h3>
							<small>Registration date</small>
						</div>
						<div class="edit__desc">
							<h3 class="title-field">04:45:45 PM</h3>
						</div>
					</div>
				</div>
				<!-- edit-container END -->

				<div class="edit__container">
					<div class="edit__form grid-lg">
						<form action="/">
							<input type="password" placeholder="Write pay password" required>
							<input type="password" placeholder="Repeat pay password" required>
							<button type="submit" class="btn btn-copy">Create password</button>
						</form>

						<form action="/">
							<input type="password" placeholder="Write your password" required>
							<input type="password" placeholder="Write new password" required>
							<input type="password" placeholder="Repeat new password" required>
							<button type="submit" class="btn btn-copy">Create password</button>
						</form>
					</div>
				</div>
				<!-- edit__container END -->

				<div class="edit__container">
					<div class="grid-lg">
						<form action="/">
							<ul class="list-long">
								<li>
									<label class="image" for="image00">
										<img src="img/logos/logo-pm.png" alt=""></label>
									<input type="text" id="image00" placeholder="Enter your account number" required>
								</li>
								<li>
									<label class="image" for="image01">
										<img src="img/logos/logo-payeer.png" alt=""></label>
									<input type="text" id="image01" placeholder="Enter your account number" required>
								</li>
								<li>
									<label class="image" for="image02">
										<img src="img/logos/logo-advcash.png" alt=""></label>
									<input type="text" id="image02" placeholder="Enter your account number" required>
								</li>
								<li>
									<label class="image" for="image03">
										<img src="img/logos/logo-bitcoin.png" alt=""></label>
									<input type="text" id="image03" placeholder="Enter your account number" required>
								</li>
							</ul>
							<button type="submit" class="btn btn-copy">change account data</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- edit END -->

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
