---
title: База знаний
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		{% include "partials/_headerMain.html" %}


		<!-- faq-wrapper BEGIN-->
		<div class="faq-wrapper white-bg">
			<div class="inner">
				<!-- breadcrumbs BEGIN -->
				<ul class="breadcrumbs">
					<li><a href="index.html">Главная</a></li>
					<li class="is-current"><a href="/">{{title}}</a></li>
				</ul>
				<!-- breadcrumbs END -->

				<div class="top__title top__title-inside">
					<i class="icon-dice"></i>
					<h3 class="title-field">{{title}}</h3>
				</div>

				<!-- accordion BEGIN -->
				<div class="accordion">
					<div class="accordion__item">
						<h4 class="js-accordion-link accordion__title"><a href="#" class="accordion__link">Zoco – что это?</a></h4>
						<div class="accordion__container">
							<p>Zoco – это молодая и активно развивающаяся компания, которая по праву гордится отличными результатами своей работы в области лицензирования онлайн – казино и последующего продвижения бизнеса в сфере азартных игр. Zoco – это команда инициативных людей, готовых применять в работе над проектами самые современные знания и технологии. На данный момент компания Zoco эффективно реализовала более десятка проектов, успешно работающих в европейских странах. Zoco отвечает за высокое качество работы, предоставляет широчайший спектр вариантов реализации ваших проектов и является надежным проводником в мире игорного бизнеса.</p>
						</div>
					</div>

					<div class="accordion__item">
						<h4 class="js-accordion-link accordion__title"><a href="#" class="accordion__link">В чьей зоне контроля работает Zoco?</a></h4>
						<div class="accordion__container">
							<p>Компания Zoco работает в соответствии с законодательством Ирландии, на чьей территории она легализована.</p>
						</div>
					</div>

					<div class="accordion__item">
						<h4 class="js-accordion-link accordion__title"><a href="#" class="accordion__link">Где можно посмотреть на регистрационные документы Zoco?</a></h4>
						<div class="accordion__container">
							<p>С документами на официальную регистрацию компании Zoco Limited можно ознакомиться на сайте «Ссылка»</p>
						</div>
					</div>

					<div class="accordion__item">
						<h4 class="js-accordion-link accordion__title"><a href="#" class="accordion__link">Какова стоимость открытия онлайн – казино?</a></h4>
						<div class="accordion__container">
							<p>Прицениваясь к покупке автомобиля, нужно знать год его выпуска, комплектацию и пробег. Точно так же и стоимость сетевого казино зависит от многих факторов, которые могут существенно повлиять на окончательную цену  продукта как в одну, так и в другую сторону. Специалисты компании Zoco готовы оказать Вам бесплатную консультацию по определению стоимости проекта, основываясь на ваших конкретных пожеланиях и требованиях.</p>
						</div>
					</div>

					<div class="accordion__item">
						<h4 class="js-accordion-link accordion__title"><a href="#" class="accordion__link">Как начать зарабатывать?</a></h4>
						<div class="accordion__container">
							<p>Ваш первый шаг – это регистрация аккаунта. Вторым шагом станет взвешенный выбор одного или нескольких инвестиционных предложений и внесение депозита на счет.</p>
						</div>
					</div>
				</div>
				<!-- accordion END -->
			</div>
			<!-- inner END -->

		</div>
		<!-- faq-wrapper END-->

		{% include "partials/_register.html" %}

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
