---
title: Index
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		{% include "partials/_headerMain.html" %}

		<!-- slider-about BEGIN -->
		<div class="slider-about">
			<div class="js-slider-about">
				<div class="slider__item slider__item-01" style="background-image: url('img/slider-img-02.jpg');">
					<h3>Перспективная и успешно развивающаяся</h3>
					<h2>ирландская компания</h2>
					<h4>ищет специалистов и истинных фанатов своего дела</h4>
				</div>

				<div class="slider__item slider__item-02" style="background-image: url('img/slider-img-03.jpg');">
					<h2>Оператор интернет - казино?</h2>
					<p>Мы готовы работать с полным учетом ваших  индивидуальных требований</p>
				</div>

				<div class="slider__item slider__item-03" style="background-image: url('img/slider-img-04.jpg');">
					<h3>Нужна помощь с игорной лицензией? <br>Нужно открыть мерчант – счет?</h3>
					<p>Не теряйте время! Обращайтесь к Zoco <br> за юридической помощью в области IGaming</p>
				</div>

				<div class="slider__item slider__item-04" style="background-image: url('img/slider-img-05.jpg');">
					<div class="desc-wrapper">
						<h2>Инвестиции в Zoco <br>Casino Software</h2>
						<p>Готовое решение для занятых инвесторов</p>
					</div>
				</div>
			</div>
			<!-- js-slider-about END -->
		</div>
		<!-- slider-about END -->

		<div class="main-bg-color zoco-bg">
			<div class="inner">
				<ul class="list-icons-top">
					<li>
						<div class="images"><i class="icon-casino-main"></i></div>
						<p>Лицензия для онлайн-казино за 14 дней</p>
					</li>
					<li>
						<div class="images"><i class="icon-support-like"></i></div>
						<p>Служба поддержки игроков казино</p>
					</li>
					<li>
						<div class="images"><i class="icon-gentleman-gray"></i></div>
						<p>Персональный менеджер каждому клиенту</p>
					</li>
					<li>
						<div class="images"><i class="icon-cards-main"></i></div>
						<p>Услуги по удержанию игроков</p>
					</li>
				</ul>
				<!-- list-icons-top END -->

				<div class="top__title top__title-inside">
					<i class="icon-company"></i>
					<h3 class="title-field">О компании</h3>
				</div>

				<p class="type-bordered-bottom">Ирландская компания Zoco уже наработала значительный успешный опыт в области сетевых азартных игр и электронной коммерческой деятельности. Мы оказываем всестороннюю поддержку в сфере получения лицензии для онлайн - казино и дальнейшего их промотирования на рынке. В декабре 2016 года наша компания приняла решение о создании собственного игровой платформы интернет - казино и эффективного вовлекает в дело инвесторов. Новая игровая платформа представляет собой пример эффективного применения самых современных цифровых технологий, которые отвечают всем общепринятым в данной сфере стандартам.</p>
			</div>
			<img src="img/cards-bg.png" alt="" class="cards-pic">
		</div>
		<!-- main-bg-color zoco-bg END -->

		<div class="index-container white-bg">
			<div class="inner">
				<div class="top__title top__title-inside">
					<i class="icon-earth-hands"></i>
					<h3 class="title-field">Мы готовы предоставить вам полную юридическую поддержку в запуске вашего бизнеса в сфере азартных игр, в правильном выборе лицензиата и в прохождении процедуры лицензирования</h3>
				</div>

				<p class="type-bordered-bottom">Стабильность и надежность любого онлайн-казино определяется имеющейся у него лицензией на данный вид коммерческой игровой деятельности. Только лицензия позволит вам начать официальную гэмблинговую деятельность и будет свидетельствовать о том, что ваше онлайн-казино соблюдает все правила безопасной игры. Лицензирование игровой деятельности является индикатором вашей работы в рамках закона и служит самым лучшим подтверждением безопасности и ответственности перед потребителем и инвесторами.</p>

				<div class="top__title top__title-inside">
					<i class="icon-planet"></i>
					<h3 class="title-field">Следующие юрисдикции доступны для лицензирования в них при поддержке нашей компании:</h3>
				</div>
			</div>
		</div>
		<!-- index-container END -->

		<div class="chip white-bg">
			<div class="inner">
				<div class="grid grid-spacing">
					<div class="grid-3-col">
						<div class="grid__item">
							<div class="image-center"><img src="img/chip-img-01.png" alt=""></div>

							<h2>Коста – Рика</h2>
							<p>Более 300 игорных веб - сайтов более 200 компаний обратились за лицензией в данную юрисдикцию. Необходимо иметь в виду, что ее отличительной характеристикой является выдача лицензий не на гемблинговую деятельность, а на обработку данных (data processing).</p>
						</div>

						<div class="grid__item">
							<div class="image-center"><img src="img/chip-img-02.png" alt=""></div>

							<h2>Олдерни</h2>
							<p>Отсчет деятельности данной юрисдикции ведется с 2005 года, а именно с момента создания специальной комиссии по контролю за работой операторов казино. Олдерни характеризуется либеральностью и терпимостью к деятельности сетевых игорных домов.</p>
						</div>

						<div class="grid__item">
							<div class="image-center"><img src="img/chip-img-03.png" alt=""></div>

							<h2>Остров Мэн</h2>
							<p>Данная юрисдикция славится своей исключительной стабильностью и безопасностью, хотя в то же время она известна довольно строгим подходом к контролированию и регулярным проверкам работы сетевых казино, которая регулируется законодательными актами: The Online Gambling Regulation Act (2001) и the Electronic Transactions Act (2000).</p>
						</div>
					</div>
				</div>
				<!-- grid END -->

			</div>
		</div>
		<!-- chip END -->

		{% include "partials/_register.html" %}

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
