---
title: Index
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>


	{% include "partials/_header.html" %}

	<div class="preview">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<h1>Выгодная монетизация вашего трафика, благодаря нашей мульти-платформе</h1>
							<p>Наша партнерская сеть позволяет монетизировать трафик самых разных тематик</p>
						</div>
					</div>

					<div class="js-slider-preview slider-preview">
						<div class="slider-item">
						</div>
						<div class="slider-item"><p>WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</p></div>
						<div class="slider-item"><p>WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</p></div>
						<div class="slider-item"><p>WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW</p></div>
					</div>
					<!-- END js-slider-preview -->
				</div>
			</div>
		</div>
	</div>

	<!-- BEGIN service -->
	<div class="service text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2>Мы предоставляем нашим клиентам широкий спектр сервисов</h2>
					<a href="/" class="btn btn-rounded btn-white">Стать партнером</a>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam officiis magnam ab dolorum iure labore voluptatum, ipsa quas distinctio, cum, id accusantium cupiditate vero blanditiis doloremque! Officia vero praesentium recusandae.</div>
						<div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo error tempore ad ducimus iure, cumque sint, commodi architecto, eligendi fugiat ea in quidem, delectus explicabo repudiandae dolorum eius pariatur blanditiis?</div>
						<div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis eum eos nesciunt omnis minus, quia quibusdam facere sapiente unde aspernatur. Dignissimos deserunt dolor molestiae laborum sed numquam illo cum reiciendis?</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<!-- END service -->


<div class="slider-review">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<!-- BEGIN js-slider-review -->
				<div class="js-slider-review">
					<div class="review__item">
						<h2 class="review__title">Петр Свиридов</h2>
						<p class="company">СЕО «Тематические Медиа»</p>
						<p>Мы всегда рады сотрудничеству с рекламными агентствами и баннерными сетями. Готовы предложить нестандартные рекламные инструменты для продвижения Ваших прямых клиентов, конфиденциальность гарантируется</p>
					</div>

					<div class="review__item">
						<h2 class="review__title">Петр Свиридов 2</h2>
						<p class="company">СЕО «Тематические Медиа»</p>
						<p>Мы всегда рады сотрудничеству с рекламными агентствами и баннерными сетями. Готовы предложить нестандартные рекламные инструменты для продвижения Ваших прямых клиентов, конфиденциальность гарантируется</p>
					</div>

					<div class="review__item">
						<h2 class="review__title">Петр Свиридов 3</h2>
						<p class="company">СЕО «Тематические Медиа»</p>
						<p>Мы всегда рады сотрудничеству с рекламными агентствами и баннерными сетями. Готовы предложить нестандартные рекламные инструменты для продвижения Ваших прямых клиентов, конфиденциальность гарантируется</p>
					</div>

					<div class="review__item">
						<h2 class="review__title">Петр Свиридов 4</h2>
						<p class="company">СЕО «Тематические Медиа»</p>
						<p>Мы всегда рады сотрудничеству с рекламными агентствами и баннерными сетями. Готовы предложить нестандартные рекламные инструменты для продвижения Ваших прямых клиентов, конфиденциальность гарантируется</p>
					</div>
				</div>
				<!-- END js-slider-review -->
			</div>
		</div>
	</div>
</div>


	<!-- BEGIN partners -->
	<div class="partners">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">Мы и наши партнеры</h3>

					<div class="row">
						<div class="col-md-6">
							<p><strong>ADLider</strong> - это платформа, которая позволяет вебмастерам и рекламодателям выгодно зарабатывать с помощью различных форматов рекламы. Нам доверяют как вебмастера, так и рекламодатели из разных стран.</p>

							<p>Благодаря Мульти-платформенности и индивидуальному подходу к каждому партнеру, мы достигли наилучших результатов эффективности рекламы как для вебмастеров, так и для рекламодателей.</p>

							<p>Благодаря Мульти-платформенности и индивидуальному подходу к каждому партнеру, мы достигли наилучших результатов эффективности рекламы как для вебмастеров, так и для рекламодателей.</p>
						</div>

						<div class="col-md-6">
							<ul class="list-logos">
								<li><div class="images"><img src="img/logos/logo-00.png" alt=""></div></li>
								<li><div class="images"><img src="img/logos/logo-02.png" alt=""></div></li>
								<li><div class="images"><img src="img/logos/logo-03.png" alt=""></div></li>
								<li><div class="images"><img src="img/logos/logo-04.png" alt=""></div></li>
								<li><div class="images"><img src="img/logos/logo-05.png" alt=""></div></li>
								<li><div class="images"><img src="img/logos/logo-06.png" alt=""></div></li>
								<li><div class="images"><img src="img/logos/logo-07.png" alt=""></div></li>
								<li><div class="images"><img src="img/logos/logo-08.png" alt=""></div></li>
								<li><div class="images"><img src="img/logos/logo-09.png" alt=""></div></li>
							</ul>
						</div>

						<div class="col-md-12 text-center">
							<a href="/" class="btn btn-primary btn-rounded">Стать партнером</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- END partners -->

	{% include "partials/_footer.html" %}

	<!-- BEGIN vendor -->
	<script src="js/vendor/jquery-3.1.1.min.js"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/vendor/slick.min.js"></script>
	<script src="js/app.js"></script>
	<!-- END vendor -->
</body>
</html>
