---
title: New Deposit
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		<!-- header BEGIN -->
		<header class="header">

			{% include "partials/_topLine.html" %}


			<div class="inner">

				{% include "partials/_headerNav.html" %}

			</div>
			<!-- inner END -->
		</header>
		<!-- header END -->

		<div class="deposit deposit-colums">
			<div class="inner">
				<div class="deposit__row">
					<div class="deposit__col">
						<div class="deposit__item">
							<div class="deposit__title deposit__title--starter">
								<i class="icon-pack-start"></i>
								<p>Стартовый</p>
							</div>

							<ul class="list-info">
								<li>Для изучения работы инвестиционной платформы</li>
								<li>Лимитированная оферта</li>
								<li>Размер вложений от $50 до $500</li>
								<li>Инвестиционный период 10 дней</li>
								<li>5% за период</li>
								<li>За весь период 105%</li>
								<li>Вывод депозита и <br> прибыли в конце срока</li>
							</ul>

							<form class="deposit__create" action="/">
								<select class="js-select">
									<option value="">Advcash</option>
									<option value="">Payeer</option>
									<option value="">Select pay system</option>
									<option value="">Perfect Money</option>
								</select>
								<ul class="list-logos list-logos-min">
									<li><a href=""><img src="img/logos/logo-pm-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-payeer-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-advcash-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-bitcoin-color-min.png" alt="Logo Company Name"></a></li>
								</ul>
								<input type="text" placeholder="Ammount to spend" required>
								<button class="btn btn-copy" type="submit"><i class="icon-money-white"></i> Make new deposit</button>
							</form>
							<!-- deposit__create END -->

						</div>
					</div>
					<div class="deposit__col">
						<div class="deposit__item">
							<div class="deposit__title deposit__title--development">
								<i class="icon-pack-development"></i>
								<p>Разработка <span><br></span> Zoco Casino Software</p>
							</div>

							<ul class="list-info">
								<li>Долговременные вложения в создание многоцелевой платформы для онлайн-казино.</li>
								<li>Лимитированная оферта</li>
								<li>Размер вложений от $50 до $10000</li>
								<li>Инвестиционный период 60 дней</li>
								<li>2.3% в сутки</li>
								<li>За весь период 150%</li>
								<li>Депозит включен в выплаты</li>
							</ul>

							<form class="deposit__create" action="/">
								<select class="js-select">
									<option value="">Advcash</option>
									<option value="">Payeer</option>
									<option value="">Select pay system</option>
									<option value="">Perfect Money</option>
								</select>

								<ul class="list-logos list-logos-min">
									<li><a href=""><img src="img/logos/logo-pm-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-payeer-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-advcash-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-bitcoin-color-min.png" alt="Logo Company Name"></a></li>
								</ul>

								<input type="text" placeholder="Ammount to spend" required>
								<button class="btn btn-copy" type="submit"><i class="icon-money-white"></i> Make new deposit</button>
							</form>
							<!-- deposit__create END -->
						</div>
					</div>
					<div class="deposit__col">
						<div class="deposit__item">
							<div class="deposit__title deposit__title--golden">
								<i class="icon-pack-cyber"></i>

								<p>Киберсвоттинг</p>
							</div>

							<ul class="list-info">
								<li>Чрезвычайно перспективная и экономически целесообразная сфера</li>
								<li>Лимитированная пропозиция</li>
								<li>Сумма от $15000 до $40000</li>
								<li>Инвестиционный период 60 дней</li>
								<li>3.5% в сутки</li>
								<li>За весь период 210%</li>
								<li>Депозит включен в выплаты</li>
							</ul>

							<form class="deposit__create" action="/">
								<select class="js-select">
									<option value="">Advcash</option>
									<option value="">Payeer</option>
									<option value="">Select pay system</option>
									<option value="">Perfect Money</option>
								</select>

								<ul class="list-logos list-logos-min">
									<li><a href=""><img src="img/logos/logo-pm-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-payeer-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-advcash-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-bitcoin-color-min.png" alt="Logo Company Name"></a></li>
								</ul>

								<input type="text" placeholder="Ammount to spend" required>
								<button class="btn btn-copy" type="submit"><i class="icon-money-white"></i> Make new deposit</button>
							</form>
							<!-- deposit__create END -->
						</div>
					</div>
					<div class="deposit__col">
						<div class="deposit__item">
							<div class="deposit__title deposit__title--constructor">
								<i class="icon-pack-constructor"></i>
								<p>Конструктор Zoco Casino</p>
							</div>

							<ul class="list-info">
								<li>Разработка игр для казино</li>
								<li>Лимитированная пропозиция</li>
								<li>Сумма от $50000 до $200000</li>
								<li>Инвестиционный период 60 дней</li>
								<li>4.5% в сутки</li>
								<li>За весь период 270%</li>
								<li>Депозит включен в выплаты</li>
							</ul>

							<form class="deposit__create" action="/">

								<select class="js-select">
									<option value="">Advcash</option>
									<option value="">Payeer</option>
									<option value="">Select pay system</option>
									<option value="">Perfect Money</option>
								</select>

								<ul class="list-logos list-logos-min">
									<li><a href=""><img src="img/logos/logo-pm-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-payeer-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-advcash-color-min.png" alt="Logo Company Name"></a></li>
									<li><a href=""><img src="img/logos/logo-bitcoin-color-min.png" alt="Logo Company Name"></a></li>
								</ul>

								<input type="text" placeholder="Ammount to spend" required>
								<button class="btn btn-copy" type="submit"><i class="icon-money-white"></i> Make new deposit</button>
							</form>
							<!-- deposit__create END -->
						</div>
					</div>
				</div>
			</div>
		</div>

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
