---
title: Партнерам
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		{% include "partials/_headerMain.html" %}

		<div class="partners-wrapper white-bg">
			<div class="inner">
				{% include "partials/_breadcrumbs.html" %}

				<div class="top__title top__title-inside">
					<i class="icon-hands"></i>
					<h3 class="title-field">Сотрудничайте с Zoco и зарабатывайте на каждом новом аккаунте</h3>
				</div>
				<!-- top__title END -->

				<p>Наша партнерская программа сфокусирована на вовлечении новых инвестиций и отличается весьма привлекательными условиями. Заведите собственный счет на сайте Zoco, приводите новых инвесторов, и Вам будет обеспечена гарантированная возможность легко извлекать доход, составляющий 10% от суммы депозитов.</p>

				<p>Партнерская программа предполагает выгодную для всех систему ранжирования своих инвесторов, с целью повысить эффективность сотрудничества и привлечь новых участников. Чем выше сумма депозитов рефералов первого уровня, тем выше Ваш ранг, а значит – выше процент Вашего дохода.</p>
			</div>

			<!-- pyramid BEGIN -->
			<div class="main-bg ">
				<div class="inner">
					<ul class="list-star">
						<li>
							<h2 class="rang-01">Silver star</h2>
							<p>1 ранг SilverStar сумма инвестиций первой линии</p>
							<span>от $10000 – 10.5% </span>
						</li>
						<li>
							<h2 class="rang-02">Gold star</h2>
							<p>1 ранг SilverStar сумма инвестиций первой линии</p>
							<span>от $10000 – 10.5% </span>
						</li>
						<li>
							<h2 class="rang-03">Platinum star</h2>
							<p>1 ранг SilverStar сумма инвестиций первой линии</p>
							<span>от $10000 – 10.5% </span>
						</li>
						<li>
							<h2 class="rang-04">Super nova</h2>
							<p>1 ранг SilverStar сумма инвестиций первой линии</p>
							<span>от $10000 – 10.5% </span>
						</li>
					</ul>
					<!-- list-star END -->
				</div>
			</div>

			<div class="pyramid-container white-bg">
				<div class="inner">

					<ul class="list-pyramid">
						<li><p>10%</p></li>
						<li><p>2%</p></li>
						<li><p>1%</p></li>
						<li><p>1%</p></li>
					</ul>

					<p>Наша партнерская программа сфокусирована на вовлечении новых инвестиций и отличается весьма привлекательными условиями. </p>

					<a href="/" class="btn btn-copy">Стать партнером</a>
				</div>
			</div>
			<!-- pyramid END -->

		</div>
		<!-- partners-wrapper END -->

		{% include "partials/_register.html" %}

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
