---
title: Request Payout
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		<!-- header BEGIN -->
		<header class="header">

			{% include "partials/_topLine.html" %}

			<div class="inner">

				{% include "partials/_headerNav.html" %}

			</div>
			<!-- inner END -->
		</header>
		<!-- header END -->

		<!-- payout BEGIN -->
		<div class="payout">
			<div class="inner">
				<div class="payout__top">
					<ul>
						<li>
							<img src="img/svg/icon-money.svg" alt="">
							<p>Your accaunt balance: <span>$ 185000</span></p>
						</li>
						<li>
							<img src="img/svg/icon-cash-top.svg" alt="">
							<p>Panding withdrawals: <span>$ 0.00</span></p>
						</li>
					</ul>
				</div>

				<div class="payout__bottom">
					<div class="field__row js-slider-banner">
						<div class="field__col">
							<div class="pay-item">
								<div class="pay-logo"><img src="img/logos/logo-pm.png" alt=""></div>
								<div class="pay-balance">Balance: $ 300</div>
							</div>
							<div class="pay-box">
								<form action="/">
									<input type="text" placeholder="Ammount to withdraw">
									<button class="btn btn-cashout"><i class="icon-cash-export"></i> Вывести деньги</button>
								</form>
							</div>
						</div>
						<div class="field__col">
							<div class="pay-item">
								<div class="pay-logo"><img src="img/logos/logo-payeer.png" alt=""></div>
								<div class="pay-balance">Balance: $ 14000</div>
							</div>
							<div class="pay-box">
								<form action="/">
									<input type="text" placeholder="Ammount to withdraw">
									<button class="btn btn-cashout"><i class="icon-cash-export"></i> Вывести деньги</button>
								</form>
							</div>
						</div>
						<div class="field__col">
							<div class="pay-item">
								<div class="pay-logo"><img src="img/logos/logo-advcash.png" alt=""></div>
								<div class="pay-balance">Balance: $ 44000</div>
							</div>
							<div class="pay-box">
								<form action="/">
									<input type="text" placeholder="Ammount to withdraw">
									<button class="btn btn-cashout"><i class="icon-cash-export"></i> Вывести деньги</button>
								</form>
							</div>
						</div>
						<div class="field__col">
							<div class="pay-item">
								<div class="pay-logo"><img src="img/logos/logo-bitcoin.png" alt=""></div>
								<div class="pay-balance">Balance: $ 0.00</div>
							</div>
							<div class="pay-box">
								<form action="/">
									<input type="text" placeholder="Ammount to withdraw">
									<button class="btn btn-cashout"><i class="icon-cash-export"></i> Вывести деньги</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- payout END -->

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
