---
title: Служба поддержки игроков
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		{% include "partials/_headerMain.html" %}

		<div class="support-wrapper white-bg">
			<div class="inner">
				<!-- breadcrumbs BEGIN -->
				<ul class="breadcrumbs">
					<li><a href="index.html">Главная</a></li>
					<li><a href="retention.html">Услуги</a></li>
					<li class="is-current"><a href="/">{{title}}</a></li>
				</ul>
				<!-- breadcrumbs END -->

				<div class="top__title top__title-inside">
					<i class="icon-support-player"></i>
					<h3 class="title-field">{{title}}</h3>
				</div>
				<!-- top__title END -->

				<p>Команда Zoco готова полностью переложить на себя все действия по предоставлению помощи вашим клиентам. Мы окажем им квалифицированную онлайн – поддержку в чате, а также гарантируем своевременное реагирование на все запросы, оставленные вашими игроками на странице через специальную форму.</p>

				<ul class="list-icons">
					<li>
						<div class="images"><i class="icon-client-support"></i></div>
						<p>Клиентская поддержка;</p>
					</li>
					<li>
						<div class="images"><i class="icon-phone24"></i></div>
						<p>Мы на связи круглосуточно и без выходных;</p>
					</li>
					<li>
						<div class="images"><i class="icon-user-planet"></i></div>
						<p>Квалифицированную помощь можно получить на английском, немецком и русском языках;</p>
					</li>
					<li>
						<div class="images"><i class="icon-phone-hand"></i></div>
						<p>Для получения помощи игрок может выбрать чат или прибегнуть к форме обратной связи.</p>
					</li>
				</ul>
				<!-- list-icons END -->

				<p>Одним из важнейших факторов, способствующих увеличению и удержанию игроков на сайте, является грамотный клиентоориентированный сервис. Каждый игрок должен получить всестороннюю и своевременную помощь по любому вопросу, в этом случае его уровень доверия и лояльности будет достаточно высоким, чтобы он превратился в вашего постоянного клиента и привлекал на ваш сайт других игроков.</p>

				<p class="type-bordered-bottom">На старте вашего бизнеса необходим хотя бы один эксперт службы поддержки, который постоянно будет на связи. С ростом ваших объемов количество человек в клиентском сервисе также должно расти, чтобы ни один игрок не остался без должного внимания.</p>
			</div>
		</div>
		<!-- support-wrapper END -->

		{% include "partials/_register.html" %}

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
