---
title: Transaction History
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		<!-- header BEGIN -->
		<header class="header">

			{% include "partials/_topLine.html" %}

			<div class="inner">

				{% include "partials/_headerNav.html" %}

			</div>
			<!-- inner END -->
		</header>
		<!-- header END -->
		<div class="transaction-container">
			<div class="inner">
				<div class="top__title">
					<img src="img/svg/icon-search-lib.svg" alt="">
					<h3 class="title-field">Search transactions</h3>
				</div>

				<div class="table">
					<div class="table__headings">
						<div class="select-group">
							<input type="text" placeholder="From">
							<input type="text" placeholder="To">
							<select class="js-select size-lg">
								<option value="">Type of transaction</option>
								<option value="">Type of transaction 2</option>
								<option value="">Type of transaction 3</option>
							</select>

							<select class="js-select">
								<option value="">Merchant</option>
								<option value="">Merchant 2</option>
								<option value="">Merchant 3</option>
							</select>
						</div>
						<!-- select-group END -->

						<div class="table__panel">
							<p>Найдено транзакций: 73</p>
							<ul>
								<li>Отображать на странице:</li>
								<li><a href="/">20</a></li>
								<li class="is-current"><a href="/">50</a></li>
								<li><a href="/">100</a></li>
							</ul>
						</div>
						<!-- table__panel END -->
					</div>
					<!-- table__heading END -->

					<table class="table__content">
						<tr class="thead">
							<th>Type</th>
							<th>Amount</th>
							<th>Date</th>
						</tr>
						<tr>
							<td>Withdrawal from referal</td>
							<td>$ 5.000,00</td>
							<td>22.10.2016 / 22:30:15</td>
						</tr>
						<tr>
							<td>Referal registration</td>
							<td>$ 10.000,00</td>
							<td>22.12.2016 / 22:30:15</td>
						</tr>
						<tr>
							<td>Deposit to “Payeer”</td>
							<td>$ 15.000,00</td>
							<td>24.12.2016 / 22:30:15</td>
						</tr>
						<tr>
							<td>Withdrawal from “Payeer”</td>
							<td>$ 25.000,00</td>
							<td>25.12.2016 / 22:30:15</td>
						</tr>
						<tr>
							<td>Calculation</td>
							<td>$ 50.000,00</td>
							<td>13.01.2017 / 22:30:15</td>
						</tr>
						<tr>
							<td>Plan</td>
							<td>$ 100.000,00</td>
							<td>20.01.2017 / 22:30:15</td>
						</tr>
					</table>
				</div>
				<!-- table END -->

				<ul class="list-pagination">
					<li><a href=""><<</a></li>
					<li><a href="/"><</a></li>
					<li><a href="/">1</a></li>
					<li><a href="/">...</a></li>
					<li><a href="/">3</a></li>
					<li><a href="/">4</a></li>
					<li class="is-current"><a href="/">5</a></li>
					<li><a href="/">6</a></li>
					<li class="is-active"><a href="/">7</a></li>
					<li><a href="/">...</a></li>
					<li><a href="/">11</a></li>
					<li><a href="/">></a></li>
					<li><a href="/">>></a></li>
				</ul>
				<!-- pagination END -->
			</div>
		</div>
		<!-- transaction-container END -->

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
