---
title: Your Deposits
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		<!-- header BEGIN -->
		<header class="header">

			{% include "partials/_topLine.html" %}

			<div class="inner">

				{% include "partials/_headerNav.html" %}

			</div>
			<!-- inner END -->
		</header>
		<!-- header END -->

		<div class="deposit">
			<div class="inner">
				<div class="deposit__item">
					<div class="deposit__title deposit__title--golden">
						<i class="icon-pack-cyber"></i>
						<p>Киберсвоттинг</p>
					</div>

					<div class="deposit__sum">
						<p>Сумма депозита:</p>
						<span> $ 14000</span>
						<img src="img/logos/logo-advcash.png" alt="">
					</div>
					<div class="deposit__data">
						<p>Дата создания \ завершения депозита:</p>
						<br><span>14 мая 2017 \ 14 июня 2017</span>
					</div>

					<div class="deposit__circle">
						<div class="circle__container">
							<div class="circle circle--golden js-circle-default"></div>
							<i class="icon-pig"></i>
						</div>

						<div class="circle__container">
							<div class="circle circle--red js-circle-default"></div>
							<i class="icon-dollar-red"></i>
						</div>
					</div>
				</div>

				<div class="deposit__item">
					<div class="deposit__title deposit__title--silver">
						<i class="icon-pack-development"></i>
						<p>Разработка Zoco Casino Software</p>
					</div>
					<div class="deposit__sum">
						<p>Сумма депозита:</p>
						<span> $ 14000</span>
						<img src="img/logos/logo-bitcoin.png" alt="">
					</div>

					<div class="deposit__data">
						<p>Дата создания \ завершения депозита:</p>
						<br><span>14 мая 2017 \ 14 июня 2017</span>
					</div>

					<div class="deposit__circle">
						<div class="circle__container">
							<div class="circle circle--golden js-circle-default"></div>
							<i class="icon-pig"></i>
						</div>

						<div class="circle__container">
							<div class="circle circle--red js-circle-default"></div>
							<i class="icon-dollar-red"></i>
						</div>
					</div>
				</div>

				<div class="deposit__item">
					<div class="deposit__title deposit__title--golden">
						<i class="icon-pack-cyber"></i>
						<p>Киберсвоттинг</p>
					</div>
					<div class="deposit__sum">
						<p>Сумма депозита:</p>
						<span> $ 14000</span>
						<img src="img/logos/logo-advcash.png" alt="">
					</div>

					<div class="deposit__data">
						<p>Дата создания \ завершения депозита:</p>
						<br><span>14 мая 2017 \ 14 июня 2017</span>
					</div>

					<div class="deposit__circle">
						<div class="circle__container">
							<div class="circle circle--golden js-circle-default"></div>
							<i class="icon-pig"></i>
						</div>

						<div class="circle__container">
							<div class="circle circle--red js-circle-default"></div>
							<i class="icon-dollar-red"></i>
						</div>
					</div>
				</div>

				<div class="deposit__item">
					<div class="deposit__title deposit__title--silver">
						<i class="icon-pack-development"></i>
						<p>Разработка Zoco Casino Software</p>
					</div>
					<div class="deposit__sum">
						<p>Сумма депозита:</p>
						<span> $ 14000</span>
						<img src="img/logos/logo-bitcoin.png" alt="">
					</div>

					<div class="deposit__data">
						<p>Дата создания \ завершения депозита:</p>
						<br><span>14 мая 2017 \ 14 июня 2017</span>
					</div>

					<div class="deposit__circle">
						<div class="circle__container">
							<div class="circle circle--golden js-circle-default"></div>
							<i class="icon-pig"></i>
						</div>

						<div class="circle__container">
							<div class="circle circle--red js-circle-default"></div>
							<i class="icon-dollar-red"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- deposit END -->

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
