---
title: Your Refferrals
---
<!doctype html>
<html>
{% include "partials/_head.html" %}
<body>

	<div class="out">

		<!-- header BEGIN -->
		<header class="header">

			{% include "partials/_topLine.html" %}

			<div class="inner">

				{% include "partials/_headerNav.html" %}

			</div>
			<!-- inner END -->
		</header>
		<!-- header END -->

		<div class="referrals-wrapper">
			<div class="inner">

				<ul class="list-step">
					<li>
						<h2>Silver star</h2>
						<span>Your status</span>
						<i class="icon-step-01"></i>
					</li>
					<li>
						<h2>Gold star</h2>
						<span>next rank 40% </span>
						<i class="icon-step-02"></i>
					</li>
					<li>
						<h2>Platinum star</h2>
						<i class="icon-step-03"></i>
					</li>
					<li>
						<h2>Super nova</h2>
						<i class="icon-step-04"></i>
					</li>
				</ul>

				<div class="referrals__content">
					<div class="pyramid-box">
						<img src="img/pyramid-photo.png" alt="">
						<ul>
							<li><p>line 1</p><span>30 partners</span></li>
							<li><p>line 2</p><span>60 partners</span></li>
							<li><p>line 3</p><span>120 partners</span></li>
							<li><p>line 4</p><span>234 partners</span></li>
						</ul>
					</div>

					<ul class="list-bordered-left">
						<li><p>Total partners: <span>101 partners</span></p><i class="icon-total-partns"></i></li>
						<li><p>Active partners: <span>24 partners</span></p><i class="icon-active-partns"></i></li>
						<li><p>Total invested: <span>$ 30000</span></p><i class="icon-invested"></i></li>
						<li><p>Total referral commission: <span>$ 10000</span></p><i class="icon-cash-left"></i></li>
					</ul>

					<div class="table-container white-bg">
						<div class="field__search">
							<form action="/">
								<input type="text" placeholder="Поиск по рефералам" required autofocus="">
								<button type="button" class="btn btn-copy"><i class="icon-search"></i> Search</button>
							</form>
						</div>

						<div class="table__panel">
							<p>Найдено рефералов: 368</p>
							<ul>
								<li>Сортировка по: </li>
								<li class="is-current"><a href="/">Дате <i class="icon-arrow-down"></i></a></li>
								<li><a href="/">Сумме</a></li>
							</ul>
						</div>
						<!-- table__panel END -->

						<div class="table">
							<table class="table__content">
								<tr class="thead">
									<th>ID</th>
									<th>Date registration</th>
									<th>Funds invested</th>
									<th>Comission received</th>
								</tr>
								<tr>
									<td>Sklyarov Andrew</td>
									<td>27.11.2016/18:25</td>
									<td>$ 40 000</td>
									<td>$ 5 000</td>
								</tr>
								<tr>
									<td>Svistunov Ivan</td>
									<td>27.11.2016/18:25</td>
									<td>$ 20 000</td>
									<td>$ 2 500</td>
								</tr>
								<tr>
									<td>Phillip W.</td>
									<td>27.11.2016/18:25</td>
									<td>$ 12 000</td>
									<td>$ 1 000</td>
								</tr>
							</table>
						</div>
						<!-- table END -->
					</div>
					<!-- search__field END -->
				</div>
				<!-- referrals__content END -->

			</div>
		</div>
		<!-- referrals-wrapper END -->

		{% include "partials/_footer.html" %}

	</div>
	<!-- out END -->

	<script src="js/app.js"></script>
</body>
</html>
