<!-- footer BEGIN -->
<footer class="footer" id="step04">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-12 footer__left">
				<a href="/"><img src="img/logos/logo-footer.png" alt=""></a>
				<p>Все права защищены © 2017</p>
			</div>

			<div class="col-md-7">
				<ul class="text-white">
					<li><a href="/">Обратная связь</a></li>
					<li><a href="#step03" class="js-scroll-to">Предложения</a></li>
					<li><a href="/">Интеграция</a></li>
					<li><a href="/">Возможности</a></li>
					<li class="is-active"><a href="/">Стать партнером</a></li>
				</ul>

				<ul class="text-gray">
					<li><a href="mailto:help@adlider.ru">email: help@adlider.ru</a></li>
					<li>skype: <a href="tel:adlider">adlider</a> </li>
					<li><a href="tel:88002582429">phone: 8 800 258-24-29</a></li>
				</ul>
			</div>

			<div class="col-md-3 footer__social text-right">
				<p>Мы в социальных сетях:</p>
				<ul class="list-social">
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					<li><a href="#"><i class="fa fa-vk"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					<li><a href="#"><i class="fa fa-rss"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- footer END -->

<a href="#top" class="btn-up js-scroll-to">
	<img src="img/up.png" alt="">
</a>

{% include "partials/_modal.html" %}
