<!-- footer BEGIN -->
<footer class="footer">
	<div class="footer__in">
		<div class="inner">
			<div class="footer__left">
				<div class="footer__logos">
					<ul>
						<li><a href="/"><img src="img/logos/logo-gambling.png" alt="Gambling Company Logo" title="Gambling"></a></li>
						<li><a href="/"><img src="img/logos/logo-geotrust.png" alt="Geotrust Company Logo" title="Geotrust"></a></li>
						<li><a href="/"><img src="img/logos/logo-zoco-golden.png" alt="ZOCO Golden Company Logo" title="ZOCO Golden"></a></li>
						<li><a href="/"><img src="img/logos/logo-category.png" alt="Gambling Company Logo" title="ZOCO Golden"></a></li>
					</ul>
				</div>

				<ul class="list">
					<li>
						<p class="list-title">О нас</p>
						<ul class="list-item">
							<li><a href="about.html">О компании</a></li>
							<li><a href="career.html">Карьера</a></li>
							<li><a href="news.html">Новости</a></li>
							<li><a href="faq.html">База знаний</a></li>
							<li><a href="contacts.html">Контакты</a></li>
						</ul>
					</li>
					<li>
						<p class="list-title">Для бизнеса</p>
						<ul class="list-item">
							<li><a href="licensing.html">Лицензирование</a></li>
							<li><a href="support.html">Служба поддержки <br>игроков казино</a></li>
							<li><a href="retention.html">Услуги по удержанию <br>игроков</a></li>
						</ul>

					</li>
					<li>
						<p class="list-title">Для инвестора</p>
						<ul class="list-item">
							<li><a href="investition.html">Инвестиции,</a></li>
							<li><a href="/">Политика <br> предоставления <br> услуг</a></li>
						</ul>

					</li>
				</ul>
			</div>
			<!-- footer__left END -->

			<div class="footer__right">
				<ul class="list-social">
					<li><a href="/"><img src="img/svg/icon-facebook.svg" alt="Twitter" style="width: 11px; height: 21px;"></a></li>
					<li><a href="/"><i class="icon-telegram"></i></a></li>
					<li><a href="/"><img src="img/svg/icon-twitter.svg" alt="Twitter" style="width: 25px; height: 17px;"></a></li>
				</ul>

				<ul class="list">
					<li>
						<p class="list-title">Почтовый адрес:</p>
						<ul class="list-address">
							<li><p>58 Shrewsbury Square, Sandymount Avenue, Dublin 4, 662819</p></li>
						</ul>
					</li>
					<li>
						<p class="list-title">Телефон:</p>
						<ul class="list-address">
							<li><p><a href="tel:+35316379300">+353 1 637 9300</a> (бизнес/инвестирование /техническая поддержка)</p>
							</li>
						</ul>
					</li>
					<li>
						<p class="list-title">E-mail:</p>
						<ul class="list-address">
							<li><a href="mailto:order@zoco.com">order@zoco.com</a></li>
						</ul>
					</li>

				</ul>
			</div>
			<!-- footer__right END -->

			<div class="about-desc">
				<p>Zoco Limited работает на рынке решений для электронной коммерции и азартных игр с 2016 года.</p><p>Zoco является уникальным инструментом, который позволяет компаниям начать свой путь в онлайн казино или других игровых нишах.</p>
			</div>

			<div class="copyright">
				<p>Copyright © 2016 Zoco Limited. Все права защищены. <a href="//www.zoco.com" target="_blank">Zoco.com</a> является зарегистрированным брендом и торговой маркой компании Zoco Limited.</p>
			</div>
		</div>
	</div>
	<!-- footer__in END -->
</footer>
<!-- footer END -->

{% include "partials/_modal.html" %}