<!-- header__main BEGIN -->
<header class="header header__main">
	<div class="in__container">
		<a href="index.html" class="header__logo"><img src="img/logos/logo-top.png" alt=""></a>

		<nav class="header__main-nav">
			<button class="js-btn-nav btn-nav" type="button" ><span></span></button>

			<ul class="menu header__main-menu">
				<li class="menu__item"><a href="about.html" class="menu__link">О компании</a></li>
				<li class="menu__item">
					<a href="retention.html" class="menu__link js-dropdown">Услуги</a>
					<ul class="list-dropdown">
						<li><a href="licensing.html">Лицензирование</a></li>
						<li><a href="support.html">Служба поддержки игроков казино</a></li>
						<li><a href="retention.html">Услуги по удержанию игроков</a></li>
					</ul>
				</li>
				<li class="menu__item"><a href="investition.html" class="menu__link">Инвестиции</a></li>
				<li class="menu__item"><a href="partners.html" class="menu__link">Партнерам</a></li>
				<li class="menu__item"><a href="career.html" class="menu__link">Карьера</a></li>
				<li class="menu__item"><a href="news.html" class="menu__link">Новости</a></li>
				<li class="menu__item"><a href="faq.html" class="menu__link">База знаний</a></li>
			</ul>
		</nav>
		<!-- header__main-nav END -->

		<a href="tel:+42200443122" class="header__phone">+4 220 044 31 22</a>
		<div class="btn-group">
			<button onclick="popup.open()" class="btn btn-golden btn-ghost js-popup-open">Вход</button>
			<button onclick="popup.open()" class="btn btn-red btn-ghost js-popup-open">Подать заявку</button>
		</div>
		<!-- btn-group END -->

		<div class="header__lang">
			<a href="/" class="js-lang">RUS</a>
			<ul class="list-lang">
				<li><a href="/">ENG</a></li>
				<li><a href="/">ESP</a></li>
			</ul>
		</div>
		<!-- header__lang END -->

		<a href="/" class="header__logo-ssl"><img src="img/logos/logo-ssl.png" alt=""></a>
	</div>
</header>
<!-- header__main END -->