<!-- header__nav BEGIN -->
<button class="js-btn-nav btn-nav" type="button" ><span></span></button>
<nav class="header__nav">
	<ul class="menu header__menu">
		<li class="menu__item"><a href="cabinet.html" class="menu__link">
			<div class="images"><i class="icon-gentleman"></i></div>Your <br> Account </a>
		</li>
		<li class="menu__item"><a href="new-deposit.html" class="menu__link">
			<div class="images"><i class="icon-push"></i></div>New <br> Deposit </a>
		</li>
		<li class="menu__item"><a href="request-payout.html" class="menu__link">
			<div class="images"><i class="icon-creditcard"></i></div>Request <br> payout </a>
		</li>
		<li class="menu__item is-current"><a href="your-deposits.html" class="menu__link">
			<div class="images"><i class="icon-diamond"></i></div>Your <br> Deposits </a>
		</li>
		<li class="menu__item"><a href="transaction-history.html" class="menu__link">
			<div class="images"><i class="icon-image-27"></i></div>Transaction <br> history </a>
		</li>
		<li class="menu__item"><a href="your-referrals.html" class="menu__link">
			<div class="images"><i class="icon-bowling"></i></div>Your <br> Referrals </a>
		</li>
		<li class="menu__item"><a href="affiliate-banners.html" class="menu__link">
			<div class="images"><i class="icon-bar"></i></div>Affiliate <br> Banners </a>
		</li>
		<li class="menu__item"><a href="edit-account.html" class="menu__link">
			<div class="images"><i class="icon-shoe"></i></div>Edit <br> Account </a>
		</li>
	</ul>
</nav>
<!-- header__nav END -->