<!-- header BEGIN -->
<header class="header">
	<!-- header__top BEGIN -->
	<div class="header__top">
		<a href="index.html" class="header__logo"><img src="img/logos/logo-top.png" alt=""></a>
		<div class="header__data">March 06 2017 <div class="btn btn-bordered">09:34:13</div>(GMT +2)</div>

		<ul class="header__top-user">
			<li class="user__field">
				<i class="icon-user"></i>
				<a class="user__name" href="/">Sklyarov Anton</a>
				<span class="user__status user__status-online">Online</span>
			</li>
			<li><a href="/">EXIT</a></li>
			<li><a href="/">info</a></li>
			<li><a href="/">chat</a></li>
		</ul>
	</div>
	<!-- header__top END -->

	<div class="inner">

		{% include "partials/_headerNav.html" %}

	</div>
	<!-- inner END -->
</header>
<!-- header END -->