	<!-- BEGIN header -->
	<header class="header">

		<div class="promo promo_index">
			<!-- BEGIN video-holder -->
			<div class="video-holder">
				<video autoplay="" loop="" id="video1" poster="video/preview.jpg">
					<source src="video/preview.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
						<source src="video/preview.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
							<source src="video/preview.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
								Ваш браузер не поддерживает тег video.
							</video>
						</div>
						<!-- END video-holder -->
					</div>

					<!-- BEGIN nav -->
					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">Brand</a>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="#">Link</a></li>
									<li><a href="#">Link</a></li>
									<li><a href="#">Link</a></li>
								</ul>

								<ul class="nav navbar-nav navbar-right">
									<li><a href="#">Link</a></li>
									<li><a href="#">Link</a></li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
					<!-- END nav -->

					<h1>Станьте партнером AdLider и начните зарабатывать на рекламе в сети</h1>
				</header>
	<!-- END header -->