	<!-- BEGIN header -->
	<header class="header">

		<div class="promo">
			<!-- BEGIN video-holder -->
			<div class="video-holder">
				<video autoplay="" loop="" id="video1" poster="img/preview.jpg">
					<source src="video/preview.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
						<source src="video/preview.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
							<source src="video/preview.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
								Ваш браузер не поддерживает тег video.
							</video>
						</div>
						<!-- END video-holder -->
					</div>



					<!-- BEGIN nav -->
					<nav class="navbar navbar-default navbar-fixed-top">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="navbar-header">
										<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>

									<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<div class="row">
											<div class="col-md-4">
												<ul class="nav navbar-nav">
													<li><a href="#">Возможности</a></li>
													<li><a href="#">Интеграция</a></li>
													<li><a href="#">Предложения</a></li>
												</ul>
											</div>

											<div class="col-md-2 col-md-offset-1">
												<a class="navbar-brand" href="#"><img class="header__logo" src="img/svgo/logo.svg" alt=""></a>
											</div>

											<div class="col-md-3 pull-right">
												<ul class="nav navbar-nav navbar-right">
													<li>
														<img src="img/svgo/icon-lock.svg" alt="">
														<a href="#">Войти</a>
													</li>
													<li>
														<img src="img/svgo/icon-key.svg" alt="">
														<a href="#">Зарегистрироваться</a>
													</li>
												</ul>
											</div>
										</div>
									</div><!-- /.navbar-collapse -->
								</div>
							</div>
						</div>
						<!-- container -->
					</nav>
					<!-- END nav -->

					<div class="col-md-6 col-md-offset-3 text-center">
						<h1>Станьте партнером AdLider и начните зарабатывать на рекламе в сети</h1>
					</div>
				</header>
	<!-- END header -->