
<div class="modal fade popup-container" id="myModal00" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="tab00">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
						<h4 class="modal-title">вход</h4>
					</div>

					<div class="modal-body">
						<label for="input00">Логин</label>
						<input id="input00" type="text" placeholder="johndoe">
						<label for="input01">E-mail</label>
						<input id="input01" type="text" placeholder="Укажите действующий почтовый ящик">
						<label for="checkbox" class="initial">Запомнить меня<input type="checkbox" id="checkbox"></label>
						<a href="#" data-toggle="modal" data-target="#repair" class="repair__link">Забыли пароль?</a>
					</div>
					<div class="modal-footer"><button type="button" class="btn btn-primary btn-rounded">Войти</button></div>
				</div>

				<div class="tab-pane" id="tab01">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
						<h4 class="modal-title">вход</h4>
					</div>

					<div class="modal-body">
						<label for="input00">Логин</label>
						<input id="input00" type="text" placeholder="johndoe">
						<label for="input01">E-mail</label>
						<input id="input01" type="text" placeholder="Укажите действующий почтовый ящик">
						<label for="checkbox" class="initial">Запомнить меня<input type="checkbox" id="checkbox"></label>
						<a href="#" data-toggle="modal" data-target="#repair" class="repair__link">Забыли пароль?</a>
					</div>
					<div class="modal-footer"><button type="button" class="btn btn-primary btn-rounded">Войти</button></div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade popup-container" id="myModal01" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
				<h4 class="modal-title">Регистрация</h4>
			</div>



			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#webmaster" aria-controls="webmaster" role="tab" data-toggle="tab">Вебмастер</a></li>
				<li role="presentation"><a href="#reklama" aria-controls="reklama" role="tab" data-toggle="tab">Рекламодатель</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="webmaster">
					<div class="modal-body">
						<label for="input00">Логин</label>
						<input id="input00" type="text" placeholder="johndoe">

						<label for="input01">E-mail</label>
						<input id="input01" type="text" placeholder="Укажите действующий почтовый ящик">

						<label for="input02">Пароль</label>
						<input id="input02" type="text" placeholder="Пароль должен содержать более 6 символов">

						<label for="input03">Повторите пароль</label>
						<input id="input03" type="text" placeholder="Повторите указанный выше пароль">

						<label for="input04">Skype</label>
						<input id="input04" type="text" placeholder="Ваш логин в Skype">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-rounded">Зарегистрироваться</button>
					</div>
				</div>

				<div role="tabpanel" class="tab-pane" id="reklama">
					<div class="modal-body">
						<label for="input00">Логин 2</label>
						<input id="input00" type="text" placeholder="johndoe">

						<label for="input01">E-mail</label>
						<input id="input01" type="text" placeholder="Укажите действующий почтовый ящик">

						<label for="input02">Пароль</label>
						<input id="input02" type="text" placeholder="Пароль должен содержать более 6 символов">

						<label for="input03">Повторите пароль</label>
						<input id="input03" type="text" placeholder="Повторите указанный выше пароль">

						<label for="input04">Skype</label>
						<input id="input04" type="text" placeholder="Ваш логин в Skype">
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-rounded">Зарегистрироваться</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade popup-container" id="repair" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
				<h4 class="modal-title">Восстановление пароля</h4>
			</div>
			<div class="modal-body">
				<label for="repair00">E-mail</label>
				<input id="repair00" type="email" placeholder="Введите E-mail указанный при регистрации" autofocus="">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-rounded">Зарегистрироваться 2</button>
			</div>
		</div>
	</div>
</div>