
<!-- popup BEGIN -->
<div class="popup js-popup">
	<div class="popup-container js-popup-container">
		<h3 class="popup__title">Авторизация</h3>

		<form name="myform" novalidate="">
			<div class="popup__body">
				<input type="text" placeholder="Логин/E-mail" required>
				<input type="password" placeholder="Пароль*" required>
				<label for="checkbox00">Запомнить меня</label>
				<input type="checkbox" id="checkbox00">
			</div>

			<div class="popup__footer">
				<button class="btn btn-copy" type="submit">Войти в аккаунт</button>
				<button onclick="popup.close()" class="btn btn-black">отмена</button>
				<p>Забыли пароль? / <a href="/">Регистрация</a></p>
			</div>
		</form>
	</div>
	<!-- popup-container 1 END -->

	<div class="popup-container js-popup-container">
		<h3 class="popup__title">Регистрация</h3>

		<form name="myform" novalidate="">
			<div class="popup__body">
				<p>Поля, отмеченные как (*), обязательны для заполнения</p>
				<input type="text" placeholder="Имя*" required>
				<input type="password" placeholder="Пароль*" required>
				<input type="password" placeholder="Пароль (повторно)*" required>
				<input type="text" placeholder="Страна">
				<input type="text" placeholder="Вас пригласил">
			</div>

			<div class="popup__footer">
				<p>Уже есть аккаунт? <a href="/">Войти</a></p>
				<button class="btn btn-copy" type="submit">Зарегистрироваться</button>
				<button onclick="popup.close()" class="btn btn-black">отмена</button>
			</div>
		</form>
	</div>
	<!-- popup-container 2 END -->

	<div class="popup-container js-popup-container">
		<h3 class="popup__title">Восстановить доступ</h3>

		<form name="myform" novalidate="">
			<div class="popup__body">
				<p>Ваш пароль будет выслан на E-mail, указанный Вами при регистрации. Если Вы не имеете доступа к своему E-mail, пожалуйста свяжитесь с администрацией.</p>
				<input type="email" placeholder="Email" required>
			</div>

			<div class="popup__footer">
				<button class="btn btn-copy" type="submit">Восстановить доступ</button>
				<button onclick="popup.close()" class="btn btn-black">отмена</button>
			</div>
		</form>
	</div>
	<!-- popup-container 3 END -->

	<div class="popup-container js-popup-container">
		<h3 class="popup__title">Откликнуться</h3>

		<form name="myform" novalidate="">
			<div class="popup__body">
				<input type="text" placeholder="Имя" required>
				<input type="text" placeholder="Фамилия" required>
				<input type="tel" placeholder="Номер телефона" required>
				<input type="text" placeholder="Email" required>
				<textarea placeholder="О себе"></textarea>
			</div>

			<div class="popup__footer">
				<button class="btn btn-copy" type="submit">Откликнуться</button>
				<button onclick="popup.close()" class="btn btn-black">Отмена</button>
			</div>
		</form>
	</div>
	<!-- popup-container 4 END -->
</div>
<!-- popup END -->
