<!--  register BEGIN -->
<div class="register">
	<div class="inner">
		<div class="register__top">
			<i class="icon-click"></i>
			<div class="register__title">Онлайн казино – развлечение или инвестирование?</div>
		</div>
		<!-- register__top END -->

		<ul class="list-register">
			<li><i class="icon-user-invested"></i><a href="" class="btn btn-register btn-ghost btn-register--invested">Стать инвестором</a></li>
			<li><i class="icon-user-mobile-hand"></i><a href="/" class="btn btn-register btn-ghost btn-register--mobile">Доступна мобильная версия</a></li>
		</ul>
		<!-- list-register END -->

	</div>
</div>
<!-- register END -->
