<!-- header__top BEGIN -->
<div class="header__top">
	<a href="index.html" class="header__logo"><img src="img/logos/logo-top.png" alt=""></a>
	<div class="header__lang">
		<a href="/" class="js-lang">RUS</a>
		<ul class="list-lang">
			<li><a href="/">ENG</a></li>
			<li><a href="/">ESP</a></li>
		</ul>
	</div>
	<!-- header__lang END -->

	<div class="header__data">March 06 2017 <div class="btn btn-bordered">09:34:13</div>(GMT +2)</div>


	<ul class="header__top-user">
		<li class="user__field">
			<i class="icon-user"></i>
			<a class="user__name" href="/">Sklyarov Anton</a>
			<span class="user__status user__status-online">Online</span>
		</li>
		<li>
			<a href="/">
				<img src="img/svg/icon-door.svg" alt="" style="width: 25px; height: 33px;">
				<small class="icon-door">EXIT</small>
			</a>
		</li>
		<li>
			<a href="/">
				<img src="img/svg/icon-info.svg" alt="" style="width: 27px; height: 24px;">
				<small class="icon-info">info</small>
			</a>
		</li>
		<li>
			<a href="/">
				<img src="img/svg/icon-chat.svg" alt="" style="width: 27px; height: 20px;">
				<small class="icon-chat">chat</small>
			</a>
		</li>
	</ul>
	<!-- header__top-user END -->
</div>
<!-- header__top END -->