// header
.header
	position: relative
	+r(992)
		height: 680px
	+r(568)
		height: 540px
	+r(480)
		height: 490px
	// navbar
	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 100%
		z-index: 12
		pointer-events: none
		background-color: rgba($black, .4)
		height: 100%
	.navbar
		border: none
		&-toggle
			+r(568)
				border: none
				background-color: $cyan
			.icon-bar
				+r(568)
					background-color: $white !important
		&-default
			padding-top: 40px
			background-color: transparent
			will-change: transition, background-color, padding-top
			transition: background-color .24s linear, padding-top .22s ease
			+r(768)
				padding-top: 0
			&.affix-top
				background-color: transparent
			&.affix
				background-color: $white
				padding-top: 20px
				+r(768)
					padding-top: 0
				+r(480)
					background-color: transparent
				svg #adlider00,
				svg #adlider02
					fill: $black
				svg path
					will-change: transition, fill
					transition: fill .24s ease
				.navbar-nav > li > a
					color: $black
			.navbar-nav > li > a
				color: $white
				line-height: 1
				&:hover
					color: $cyan
		&-right
			+clr
		.navbar-nav.navbar-right
			margin-top: 0
			+r(768)
				margin-top: 8px
			+r(568)
				li
					margin-right: 0
					display: block
		&-right li img
			display: inline-block
			vertical-align: middle
			margin-right: 2px
		&-right li a
			display: inline-block
			vertical-align: middle
			margin-top: 3px
		&-brand
			padding: 0
			+r(768)
				display: none
		&-nav
			margin-top: 8px
		&-nav li
			margin-right: 25px
			+r(1166)
				margin-right: 15px
			+r(769)
				display: inline-block
			+r(480)
				display: block
		&-nav li:last-child
			margin-right: 0
		&-nav li a
			padding: 0
			font-size: $text-sm //14px
			+font-family($roboto-light)
			transition: all .24s ease-in-out

// video
.promo
	overflow: hidden
	position: relative
	height: 100%
	z-index: 11
	&:before
		content: ''
		display: block
		background-image: linear-gradient( -135deg, rgba($cyan, .8) 0%, rgba($black, .8) 100%)
		background-image: -moz-linear-gradient( -135deg, rgba($cyan, .8) 0%, rgba($black, .8) 100%)
		background-image: -webkit-linear-gradient( -135deg, rgba($cyan, .8) 0%, rgba($black, .8) 100%)
		background-image: -ms-linear-gradient( -135deg, rgba($cyan, .8) 0%, rgba($black, .8) 100%)
		position: absolute
		top: 0
		left: 0
		width: 100%
		z-index: 9
		pointer-events: none
		height: 100%
.video-holder
	position: relative
	width: 1920px
	-webkit-transform: scale(1.02)
.video-holder video
	display: inline-block
	width: 100%
	height: inherit
	font-size: 18px
	color: $white
	text-shadow: 0px 1px 2px $black



.arrow-prev,
.arrow-next
	+cover
	width: 50px
	height: 50px
	display: block
	font-size: 0
.arrow-prev
	background-image: url("../img/svgo/arrow-prev.svg")
.arrow-next
	background-image: url("../img/svgo/arrow-next.svg")
span svg:hover #arrow-circle
	fill: #FF0404
