@media (min-width: 768px)
	.popup-container
		.modal
			&-dialog
				width: 410px


.popup-container
	+clr
	label
		display: block
		color: $text
		font-size: 14px
		+font-family($roboto-md)
		&.initial
			width: initial
			display: inline-block
	input
		border-color: #dbdbdb
		border-radius: 2px
		border-width: 1px
		border-style: solid
		width: 100%
		transition: all .24s ease-in-out
		outline: none
		font-size: 14px
		line-height: 1.71
		+font-family($roboto-reg)
		padding: 12px
		margin-bottom: 15px
		+placeholder(#dbdbdb)
		&:focus
			+placeholder(darken(#dbdbdb, 10))
			outline: none !important
		&:active
			outline: none
	input[type=checkbox]
		float: left
		margin-right: 5px
		width: initial
	.modal
		&-content
			box-shadow: none
			border: none
		&-title
			text-align: center
			+font-family($roboto-bld)
			color: $text
			font-size: 16px
			text-transform: uppercase
			line-height: 1.75
		&-header
			padding: 20px
		&-body
			+clr
			.repair__link
				float: right
		&-body, &-footer, &-header
			border: none
		&-body,
		&-footer
			padding: 30px
		&-footer
			text-align: center
			padding-top: 0
		&-footer .btn
			border: none
			outline: none
			cursor: pointer
			width: 100%
			max-width: 280px
			&:focus
				outline: none

// tabs
.popup-container
	.nav.nav-tabs
		text-align: center
	.nav-tabs
		border: none
		background-color: #f5f7f9
		padding: 5px
		margin: 0 auto
		border-radius: 50px
		width: 85%
		> li > a
			border-radius: 50px
			font-size: 14px
			text-decoration: none
			background-color: #f5f7f9
			color: $black
			background-color: transparent
			+font-family($roboto-light)
			border: none !important
			padding: 3px 15px
		> li.active > a
			background-color: $cyan
			color: $white
			border: none